{% extends 'base.html' %}
{% block title %}Pedidos{% endblock %}
{% block content %}
<h2>Pedidos</h2>
<a href="{% url 'pedido_create' %}" class="btn btn-success mb-3">Novo Pedido</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Cliente</th>
      <th>Data Pedido</th>
      <th>Prazo</th>
      <th>Status</th>
      <th>Valor</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for pedido in pedidos %}
      <tr>
        <td>{{ pedido.id }}</td>
        <td>{{ pedido.cliente.nome }}</td>
        <td>{{ pedido.data_pedido }}</td>
        <td>{{ pedido.prazo_entrega_previsto }}</td>
        <td>{{ pedido.status }}</td>
        <td>R$ {{ pedido.valor_total }}</td>
        <td>
          <a href="{% url 'pedido_update' pedido.pk %}" class="btn btn-sm btn-warning">Editar</a>
          <a href="{% url 'pedido_delete' pedido.pk %}" class="btn btn-sm btn-danger">Excluir</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
