# Ambiente virtual
venv/
ENV/
env/

# Arquivos do Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3

# Arquivos de sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Variáveis de ambiente
.env
.env.*

# Compilação
*.py[cod]
