{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card shadow">
      <div class="card-header bg-dark text-white text-center">
        <h4 class="mb-0">Entrar no Sistema</h4>
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}

          <!-- Usuário -->
          <div class="mb-3">
            <label for="id_username" class="form-label">Usuário</label>
            {{ form.username }}
          </div>

          <!-- Senha -->
          <div class="mb-3">
            <label for="id_password" class="form-label">Senha</label>
            {{ form.password }}
          </div>

          <!-- Botão de Login -->
          <div class="d-grid">
            <button type="submit" class="btn btn-primary">Entrar</button>
          </div>

          <!-- Botão de cadastro -->
           <div class="text-center mt-3">
            <a href="{% url 'cadastro_completo' %}" class="text-decoration-none">Não tem conta? Cadastre-se</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
